.calc-app {
  margin: 0 auto;
  width: 290px;
  border-radius: 10% 10% 10% 10%;
  margin-top: 40px;
  background-color: black;
  padding-bottom: 0.003%;
}
.keypad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(60, auto);
  padding: 2%;
  margin: 10px;
}
input {
  height: 100px;
  width: 286px;
  border-radius: 27px 27px 0 0;
  border-style: none;
  background-color: black;
  color: white;
  font-size: xx-large;
  text-align: right;
}
button {
  height: 60px;
  border-radius: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
  width: 60px;
  border-style: none;
  font-size: xx-large;
}
.orangebtn {
  background-color: #ff9408;
  color: white;
}
.greybtn {
  color: white;
  background-color: #414236;
}
body {
  background-color: #00c0f0;
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
}
